
  <div class="card">
    <img class="card-img-top" [src]="product.imagen" alt="Imagen">
    <div class="card-body">
      <h4 class="card-title">{{product.nombre}}</h4>
      <p class="card-text">{{product.precio| currency: 'EUR':true}}</p>
    </div>
    <div class="card-footer">
        <button  (click)="anadiralcarrito(product)" *ngIf="obtenercantidad() === 0" class="btn btn-primary btn-block" >Añadir </button>
        <button  (click)="anadiralcarrito(product)" *ngIf="obtenercantidad() !=0" class="btn btn-dark btn-block" >Añadir : {{ obtenercantidad()}}</button>
        <button  (click)="eliminaralcarrito(product)" *ngIf="obtenercantidad() !=0" class="btn btn-danger btn-block" >Eliminar</button>
    </div>
    
</div>