<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="/">PetShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">Mi carrito
     
        <span class="badge badge-warning badge-pill">{{numerodeitems}}</span>

        </a>
      </li>
      <!--Muestra el li si el usuario no esta registrado-->
      <ng-template #anonymusUser>
          <li  class="nav-item">
              <a class="nav-link" routerLink="login">Login </a>
          </li>
      </ng-template>

       <!--Muestra el nombre del usuario que esta registrado-->
      <li ngbDropdown *ngIf="usuario; else anonymusUser " class="nav-item dropdown " >
        <a   ngbDropdownToggle class="nav-link dropdown-toggle"   id="dropdown01" data-toggle="dropdown"  
        aria-expanded="false">{{usuario.name}}</a>
        <div  ngbDropdownMenu class="dropdown-menu show " aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/orders">Mis pedidos</a>
          <a class="dropdown-item" routerLink="/animales">Mis animales</a>
          <a class="dropdown-item" routerLink="/calendar">Pedir cita</a>
          
          
          <ng-container *ngIf="usuario.isAdmin">
            <a class="dropdown-item" routerLink="/admin/orders">Administrar Pedidos</a>
            <a class="dropdown-item" routerLink="/admin/products">Administrar Productos</a>
          </ng-container>
          <ng-container *ngIf="usuario.isVeterinario">
              <a class="dropdown-item" routerLink="vercitasveterinario">Ver Citas</a>
          </ng-container>
          
          <a class="dropdown-item"(click)="logout()">Salir</a>
        </div>
      </li>
    
    </ul>
    
  </div>
</nav>
