<div class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Login</h4>
    <p class="card-text">!Registrate con Google, Facebook, Twitter!</p>

        <button (click)="login()" class="btn btn-primary">Login con google</button>
        <hr>
        <button (click)="loginF()" class="btn btn-primary">Login con Facebook</button>
        <hr>
        <button (click)="loginT()" class="btn btn-primary">Login con Twitter</button>
       
  </div>
</div>


