
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Ficha-Animal</th>
        <th>Descripcion</th>
        <th>Contacto</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of  todos$">
        <td>
          <a [routerLink]="['/animales-form/', prod.animal]">Mascota</a> 
        </td>
        <td>
          {{prod.descripcion}}  
        </td>
        <td>
          {{prod.email}}
        </td>
        <td>
          {{prod.fecha}} 
        </td>
      </tr>
    </tbody>
  </table>