
<section id="cover">
  <div id="cover-caption">
      <div id="container" class="container">
          <div class="row">
              <div class="col-sm-10 offset-sm-1">

                <form [formGroup]="eform" (ngSubmit)="save(eform.value)">

                    <div class="container" *ngIf="animales$ && usuario">
                        
                      <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <select  formControlName="animal" ngModel name="animal"  id="animal" class="form-control"  >
                              <option value=""></option>
                                <option *ngFor="let c of animales$|async"[value]="c.$key">
                                  {{c.nombre}}
                              </option>
                          </select>
                      </div>

                      <div class="alert  alert-danger" *ngIf="eform.get('animal').hasError('required') && eform.get('animal').touched">
                        Introduce un Animal
                      </div> 

                      <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <textarea placeholder="Describe brevemente el problema..." formControlName="descripcion" ngModel name="descripcion" id="descripcion" type="text" class="form-control" d ></textarea>
                      </div>    
                      <div class="alert  alert-danger" *ngIf="eform.get('descripcion').hasError('required') && eform.get('descripcion').touched">
                        Se necesita descripcion
                      </div> 
                      
                      <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input formControlName="fecha" (change)="comprobacionfecha($event.target.value)" ngModel name="fecha" type="date" class="form-control" id="fecha" >
                      </div>
                      
                      
                      <div class="alert  alert-danger" *ngIf="eform.get('fecha').hasError('required') && eform.get('fecha').touched">
                        Se necesita una fecha
                      </div> 

                      <div class="alert alert-warning" *ngIf="!existe && eform.get('fecha').touched">
                        Esta fecha no esta disponible
                      </div> 

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input formControlName="email" readonly [ngModel]="usuario" name="email" id="email" type="text" class="form-control"> 
                      </div>
                    
                      <button [disabled] = "!eform.valid || !existe" class="btn btn-primary">Pedir Cita</button>
                      <button (click)="eliminar()" *ngIf="this.id"class="btn btn-dark">Eliminar Producto</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>