<h1>Mi Carrito</h1>

<ng-container *ngIf="carrito$ | async as cart" >
  <p>
     
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="cart.items.length===0">
        <td style="align-content: center"><em>El carrito esta vacio</em></td>
      </tr>
      <tr *ngFor="let item of cart.items">
        <td> 
          <img [src]=" item.imagenUrl " class="thumbnail" alt="">
        </td>
        <td>
            {{item.titulo}}
        </td>
        <td>
            {{item.cantidad}}
        </td>
        <td>
          <b>{{item.Preciototal}} €</b>
        </td>

      </tr>
      
    </tbody>

    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td *ngIf="cart.items.length!=0"> <b>Total: {{cart.Preciototalglobal}} €</b> </td>
      
    </tfoot>
  </table>

  <button *ngIf="cart.items.length" (click)="LimpiarCarrito()" class="btn btn-danger btn-sm">Limpiar Carrito</button>

  <button *ngIf="cart.items.length"  routerLink="/check-out" class="btn btn-primary btn-sm">Pedir pedido</button>

</ng-container>
