<div class="row">
    <div class="col-6">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="container">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input ngModel name="nombre" id="nombre" type="text" class="form-control" d >
              
              </div>
              <div class="form-group">   
                <label for="fecha_nacimiento">Fecha Naimiento</label>
              
                <input ngModel name="fecha_nacimiento" type="text"  ngbDatepicker #d="ngbDatepicker" class="form-control" id="fecha_nacimiento" >
              </div>   
              <div class="form-group">
                <label for="categoria">Categoria</label>
                <select ngModel name="categoria" id="categoria" class="form-control" >
                  <option value="Perro">Perro</option>
                  <option value="Gato">Gato</option>
                </select>
                
              </div>
              
              <div class="form-group">
                <div *ngIf="currentFileUpload" class="progress" style="width:400px">
                  <div class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
                </div>
              </div>

              <div class="form-group">
                <label for="categoria">Género</label>
                <select ngModel name="categoria" id="categoria" class="form-control" >
                  <option value="Perro">Hembra</option>
                  <option value="Gato">Macho</option>
                </select>
                
              </div>
             
              <div class="form-group">
                <label for="propietario">Propietario</label>
                <input readonly [ngModel]="usuario.name" name="propietario" id="propietario" type="text" class="form-control"> 
              </div>

              
              
              <label class="btn btn-default"> <input type="file"
                (change)="selectFile($event)">
              </label>
               
              <button class="btn btn-success" [disabled]="!selectedFiles"
              
                (click)="upload()">Upload</button>

             

              <button class="btn btn-primary">Guardar Animal</button>

              <button (click)="eliminar()" *ngIf="this.id"class="btn btn-dark">Eliminar Producto</button>

        
            </div>

        </form>
    </div>