<div class="row">
    <div class="col-6">
        <form #formanimales="ngForm" (ngSubmit)="save(formanimales.value)">
            <div class="container">
              <div class="form-group">
                <label for="nombre">Nombre</label>

                <input #nombre="ngModel" [(ngModel)]="animal.nombre" name="nombre" id="nombre" type="text" class="form-control" required >
                
                <div class="alert alert-danger" *ngIf="nombre.touched && nombre.invalid">
                  Se necesita poner un titulo.
                </div>
              </div>
              <div class="form-group">
                <label for="fecha_nacimiento">Fecha Nacimiento</label>
                <input #fecha_nacimiento="ngModel" [(ngModel)]="animal.fecha_nacimiento" name="fecha_nacimiento"   type="date" class="form-control" id="fecha_nacimiento" required>
                <div class="alert alert-danger" *ngIf="fecha_nacimiento.touched && fecha_nacimiento.invalid">
                    Se necesita poner una fecha de nacimiento.
                </div>
              </div>   
              <div class="form-group">
                <label for="categoria">Categoria</label>
                <select #categoria="ngModel"  [(ngModel)]="animal.categoria" name="categoria" id="categoria" class="form-control" required>
                  <option value="Perro">Perro</option>
                  <option value="Gato">Gato</option>
                </select>
                <div class="alert alert-danger" *ngIf="categoria.touched && categoria.invalid">
                    Se necesita poner una categoria.
                </div>
              </div>

              <div class="form-group">
                <label for="genero">Género</label>
                <select #genero="ngModel" [(ngModel)]="animal.genero" name="genero" id="genero" class="form-control" required>
                  <option value="Hembra">Hembra</option>
                  <option value="Macho">Macho</option>
                </select>
              </div>
              <div class="alert alert-danger" *ngIf="genero.touched && genero.invalid">
                Se necesita poner un genero.
              </div>  
             
              <div class="form-group">
                <label for="propietario">Propietario</label>
                <input *ngIf="usuario.name" readonly  #propietario="ngModel" [(ngModel)]="usuario.name" name="propietario" id="propietario" type="text" class="form-control"> 
              </div>


              <div class="form-group">
                <div *ngIf="currentFileUpload" class="progress" style="width:400px">
                  <div class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
                </div>
              </div>
                            
              
              <label class="btn btn-default"> <input type="file"
                (change)="selectFile($event)" required>
              </label>   
              <br>      

              <button [disabled] ="!formanimales.valid  || !selectedFiles" class="btn btn-primary">Guardar Animal</button>

              <button routerLink="/animales" class="btn btn-secondary">Volver</button>

              <button (click)="eliminar()" *ngIf="this.id" class="btn btn-dark">Eliminar Animal</button>

        
            </div>

        </form>
    </div>
    <div class="col-6" >
        <div class="card" style="width: 20rem">
            <img class="card-img-top" [src]="animal.url" alt="">
            <div class="card-body">
              <h4 class="card-title">{{animal.nombre}}</h4>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Genero: </b>{{animal.genero}}</li>
                  <li class="list-group-item"><b>Tipo: </b>{{animal.categoria}}</li>
                  <li class="list-group-item"><b>Fecha Nacimiento: </b>{{animal.fecha_nacimiento | date}}</li>
                  <li class="list-group-item"><b>Propietario: </b>{{usuario.name}}</li>
              </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
 <div class="row" *ngIf="id">
    <div class = "page-header">
   
        <h1>
           Citas
        </h1>
        
    </div>
   <div class="col-12">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-bordered table-striped mb-0">
          <thead class="table-primary">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Descripcion</th>

              
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cita of  citas$|async">

                  <td>
                    {{cita.fecha | date}}
                  </td>
        
                  <td>
                    {{cita.descripcion}}  
                  </td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>